---
layout: default
---
{% capture pg %}
<ul class="pagination">
	{% if paginator.previous_page %}
	<li class='prv'>
		<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">
			<span class='icon icon-prv'></span>
		</a>
	</li>
	{% endif %}
	{% if paginator.next_page %}
	<li class='nxt'>
		<a href="{{ site.baseurl }}{{ paginator.next_page_path }}">
			<span class='icon icon-nxt'>
				<svg viewBox="0 0 512 512"></span>
		</a>
	</li>
	{% endif %}
</ul>
{% endcapture %}
{{ pg }}
<div class="post-list-home">
	<h1 class='post-list-header'>Articles</h1>
	<ul class="post-list">
		{% for post in paginator.posts %}
			<li>
				<span class="post-meta">{{ post.date | date: "%-d %b %Y" }}</span>
				<h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
			</li>
		{% endfor %}
	</ul>
</div>
{{ pg }}