<header class="site-header">
	<div class="wrapper">
		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
		<nav class="site-nav">
			<a href="{{ site.baseurl }}/about/" title="what this is all about">
				<span class="icon icon-about"></span>
			</a>
			<a href="{{ site.baseurl }}/copying/" title="note on legalese">
				<span class="icon icon-copying"></span>
			</a>
			<a href="https://github.com/{{ site.github_username }}" title="me on github">
				<span class="icon icon-github"></span>
			</a>
			<a href="https://twitter.com/{{ site.twitter_username }}" title="me lazily tweeting">
				<span class="icon icon-twitter"></span>
			</a>
			<a href="{{ site.baseurl }}/feed.xml" title="check the feed">
				<span class="icon icon-feed"></span>
			</a>
		</nav>
  </div>
</header>
